<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h1>编辑设备信息</h1>

    <%= render 'form', computer: @computer %>

    <%= link_to '查看', @computer, class:"btn btn-link" %> |
    <%= link_to '返回', computers_path, class:"btn btn-link" %>

    </div>
</div>
