@import "bootstrap-sprockets";
@import "bootstrap";

.float-right {
    float:right;
}
.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-top-list {
    margin-top: 10px;
    // width: 50%;
    // padding: 0 20px;
}

.modal-h{
    height: 260px;
}

.btn-width{
    width: 100%;
}
