<p>你好， <%= @resource.email %>!</p>

<p>点击以下链接修改您的密码。</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您没有请求，请忽略此电子邮件。</p>
<p>在访问上面的链接并创建新的链接之前，您的密码不会更改。</p>
